%html
  %meta
    %title TShield

    %script{:type => "text/javascript", :src => "/javascripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}

    %link{:type => "text/css", :href => "/stylesheets/bootstrap-theme.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:type => "text/css", :href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:type => "text/css", :href => "/stylesheets/application.css", :rel => "stylesheet", :media => "screen"}

  %body
    .container
      = yield
